img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#center {
  text-align : center;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  background-color: hsl(60, 100%, 95%);
}

button{
  background-color: hsl(0, 0%, 100%);
}

#heading {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  background-color: hsl(60, 100%, 65%);
  text-align : center;
}

#section-title {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  background-color: hsl(60, 100%, 65%);
  text-align : center;
}

#sect-1 {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  background-color: hsl(60, 100%, 90%);
}

#sect-2 {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  background-color: hsl(60, 100%, 85%);
}

#sect-3 {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  background-color: hsl(60, 100%, 80%);
}

#sect-4 {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  background-color: hsl(60, 100%, 75%);
}

#sect-5 {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  background-color: hsl(60, 100%, 70%);
}

#song-container {
  margin-top: 20px;
  background-color: hsl(60, 100%, 95%);
}

#musical-container {
  margin-top: 20px;
  background-color: hsl(60, 100%, 95%);
}

#goodbye-container {
  margin-top: 20px;
  background-color: hsl(60, 100%, 65%);
}

.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-thumbnails img {
  margin: 10px;
  max-height: 250px;
  max-width: 250px;
}

.image-thumbnails img:hover {
  border: thick solid hsl(0, 0%, 0%);
}

#img-heading {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  background-color: hsl(288, 100%, 96%);
  text-align : center;
}

#img-content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  background-color: hsl(0, 0%, 100%);
}